nav {
  display: flex;
  justify-content: space-around;
  height: 30px;
  background: @nav;
  color: @background;
  align-items: center;

  img {
    height: 20px;
  }

  .nav-links {
    display: none;
  }
}
